
@import "~bootstrap/dist/css/bootstrap.min.css";

.example-header {
  text-align: center;
  .example-header-title {
    display: block;
    font-weight: bold;
    font-size: 25px;
  }
  .example-header-logo {
    height: 50px;
  }
}

.biz-image {
  background-position: center center;
  background-size: cover;
  background-repeat: "no-repeat";
}